<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List common libraries for Data Science</li>
    <li>List Data Science Tools</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>NumPy</li>
<li>Keras</li>
</ol>

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|RStudio           |
|Watson Studio     |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [9]:
a=200
a/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

<h2>Author</h2>
Shivangi Sharma